{% set currentUrl = page.url %}
{% set isHomePage = currentUrl == "/" %}
{% set section = currentUrl.split("/")[1] | default("") %}

<header class="cluster box">
  <span id="logo" class="{% if isHomePage %}home{% else %}subpage{% endif %}">
    <a href="/">{{ site.title -}}</a>
    {%- if not isHomePage -%}
      <span class="page-title">/{{- section -}}</span>
    {%- endif -%}
  </span>
  <nav>
    <ul role="list" class="cluster">
      {%- for pageEntry in collections.page -%}
        {%- if pageEntry.url != currentUrl -%}
          <li>
            <a href="{{ pageEntry.url }}">/{{ pageEntry.data.title }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
</header>