---
tags: page
title: About
---

<p>Digital Designer currently at <a href="https://www.legends.net/">Legends</a>. Formerly at <a href="https://www.twobarrels.com/">Two Barrels</a> and <a href="https://www.godaddy.com/">GoDaddy</a>.</p>

{% for key, link in site.socialLinks %}
<a href="{{ link.url }}">{{ link.label }}</a>{%- if not loop.last %},{% endif %}
{% endfor %}
