---
title: "Gianmarco Minin"
---

{# Sort projects by year #}
{% set workCollection = collections.work | sort(false, false, "data.workYear") | reverse %}

<div class="projects">

  {% for project in workCollection %}

  <details name="project">

    <!-- Accordion header-->
    <summary id="summary-{{ loop.index }}" aria-controls="content-{{ loop.index }}">
      <h2>{{ project.data.title }} at {{ project.data.company }}<sup class="featured">*</sup></h2>
      <span>{{ project.data.workYear }}</span>
    </summary>

    <!-- Accordion content-->
    <div id="content-{{ loop.index }}" class="content" role="region" aria-labelledby="summary-{{ loop.index }}">
      <div class="innerWrapper">
        <div class="projectSummary">
          <p>{{ project.data.description }}</p>
          <a href="{{ project.url }}">Read more</a>
        </div>
        <img src="{{ project.data.mainImage }}" alt="{{ project.data.title }}">
      </div>
    </div>

  </details>

  {% endfor %}

</div>