---
tags: page
title: Work
---

{# Sort projects by year #}
{% set workCollection = collections.work | sort(false, false, "data.workYear") | reverse %}

<h1>{{ title }}</h1>
<p>{{ workCollection.length }} case studies<p>
<div class="projects">
  {% for project in workCollection %}
    {% set accordionHeader %}
      <span class="project-info">{{ project.data.workYear }}</span>
      <h2>{{ project.data.title }}</h2>
      <span class="project-info">{{ project.data.company }}</span>
    {% endset %}

    {% set accordionContent %}
      <div class="projectSummary">
        <p>{{ project.data.description }}</p>
        <a href="{{ project.url }}">Read more</a>
      </div>
      <img src="/assets/images/{{ project.data.thumb }}" alt="{{ project.data.title }}">
    {% endset %}

    {% include "accordion.njk" %}
  {% endfor %}
</div>