<!DOCTYPE html>
<html lang="en">

<head>
  <!--site-->
  <link rel="stylesheet" href="/assets/css/main.css" rel="preload">
  <title>{{ "GM // " + (title | default(site.title)) }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ page.url }}">
  <meta name="theme-color" content="{{ site.themeColor }}">
  <!--fediverse stuff-->
  <meta name="fediverse:creator" content="{{ site.author.fediverse }}">
  <link rel="me" href="{{ site.socialLinks.mastodon.url }}">
  <link rel="author" href="/humans.txt">
  <link rel="me" href="mailto:gm@gmgmgm.design">
  <link rel="webmention" href="https://webmention.io/gmgmgm.design/webmention" />
</head>

<body class="stack">
  {% include "partials/header.njk" %}
  {{ content | safe }}
  {% include "partials/footer.njk" %}
</body>

</html>