---
layout: layouts/base.njk
---


<div class="titleRow"><h1 style="view-transition-name: post-{{ title | slugify }};">{{ title }}</h1></div>
<main class="with-sidebar">
  <aside class="stack">
    <span>Company: {{ workYear }}</span>
    <span>Client: {{ client }}</span>
    <span>Year: {{ workYear }}</span>
    <span>Tools: {{ tools }}</span>
  </aside>
  <article class="stack">
    <aside>{{ description }}</aside>
    {{ content | safe }}
  </article>
</main>