@import url('font.css') layer(font);
@import url('reset.css') layer(reset);
@import url('composition.css') layer(composition);
@import url('theme.css') layer(theme);

@layer font, reset, composition, reset;

/* ---------- HEADER ---------- */
header {
  border-block-end: var(--border);
  justify-content: space-between;
  text-transform: lowercase;
  padding: var(--layout-space);
}

header a {
  text-decoration: none;
}


#logo.home a {
  color: var(--color-theme);
}

#logo.subpage a {
  color: var(--color-medium);
}

#logo.subpage .page-title {
  color: var(--color-theme);
}

nav ul {
  padding-inline-start: 0;
  list-style: none;
}

nav a:hover {
  color: var(--accent-hover-color);
  /* Hover color */
}

/* Current page or parent page link */
/* Current page link */
nav li .current {
  color: var(--color-medium);
  /* Gray color for current page */
  pointer-events: none;
  /* Disable clicking on the current page link */
  cursor: not-allowed;
  /* Default cursor for current page link */
}


/* ---------- FOOTER ---------- */
footer {
  border-block-start: var(--border);
  justify-content: space-between;
  padding: var(--layout-space);
  font-size: var(--size-step--1);
}

code,
p>code,
pre>code {
  padding-inline: 1ex;
  font-size: calc(var(--font-size) - 4px);
  border-radius: 4px;
  border: var(--border);
}

pre>code {
  display: block;
  /* https://kilianvalkhof.com/2021/css-html/you-want-overflow-auto-not-overflow-scroll/ */
  overflow-x: auto;
}

/*TODO: MAKE FOOTER AND HEADER AND TITLE ROW NOT A BOX!!!!!!!!!*/



/* -------------------- POSTS ------------------------ */
article {
  /* padding-block-start: 20vh; */
  padding-block-end: var(--space-3xl);
  max-inline-size: var(--layout-measure);
  font-size: var(--size-step-0);
  overflow-y: scroll;
}

/* aside {
  font-size: var(--size-step-1);
} */

article h1 {
  color: var(--color-bright);
}

article h2 {
  color: var(--color-bright);
}

article p,
article ul,
article ol {
  margin-block-start: .5lh;
}


.footnote-ref {
  font-size: var(--size-step--2);
}

.footnotes-sep {
  inline-size: 100%;
}

.footnotes {
  font-size: var(--size-step--1);
}

.footnotes-list {
  margin: 0;
  padding-inline-start: 16px;
}

.footnote-backref {
  margin-inline-start: 4px;
}

/* TODO: Actually style the footnotes */
/* article {
  display: grid;
  grid-template-columns: auto var(--layout-measure);
  gap: var(--layout-space);
}

article h1,
article h2 {
  grid-column: 1 / span 1;
  grid-row: 1 / span auto;
}

article>:not(h1, h2) {
  grid-column: 2 / span 1;
}


*/



/* ---------- ARCHIVE LAYOUT ---------- */
/* EDGE TO EDGE LAYOUT*/
.archive {
  margin-block-start: 0;
  margin-inline: 0;
}


.titleRow {
  display: flex;
  justify-content: space-between;
}

details {
  transition: var(--transition);
}


.archiveItem {
  max-inline-size: none;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

.archiveItem h2 {
  color: var(--color-bright);
  font-size: var(--font-size);
  flex: 1;
  max-inline-size: none;
}

.archiveList hr {
  border: none;
  block-size: 1px;
  background-color: var(--color-medium);
  max-inline-size: none;
  margin-block: 0;
}

details>.reel {
  padding-inline: var(--layout-space);
  padding-block-end: var(--layout-space);
}

.archiveItem:active>* {
  opacity: 0.5;
}

/* Hover Effect */
.archiveList,
.archiveList * {
  transition: var(--transition);
}

.archiveList:hover .archiveItem:not(:hover) * {
  color: var(--color-medium);
}

/* !important required to reset becuase of extra summary element not found on writing archive */
.archiveList:hover details[open] span {
  color: var(--text-color) !important;
}

.archiveList:hover details[open] h2 {
  color: var(--link-color) !important;
}





/* https://css-tricks.com/using-styling-the-details-element/
https://nerdy.dev/6-css-snippets-every-front-end-developer-should-know-in-2025#transition-animation-for-details */

::details-content {
  transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
  block-size: 0;
  overflow: clip;
}

/* Browser supports interpolate-size */
@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [open]::details-content {
    block-size: auto;
  }
}

@supports not (interpolate-size: allow-keywords) {
  details[open] .reel {
    animation: animateDown 0.2s linear forwards;
  }

  @keyframes animateDown {
    0% {
      opacity: 0;
      transform: translatey(-15px);
    }

    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
}


/* details {
  inline-size: 50ch;

  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 1s allow-discrete, opacity 1s, block-size 1s;
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
} */