:root {
  /* Fluid type scale */
  --ratio: 1.61803398875rem;
  --size-step--2: clamp(0.6944rem, 0.6376rem + 0.284vi, 0.84rem);
  --size-step--1: clamp(0.8333rem, 0.7488rem + 0.4228vi, 1.05rem);
  --size-step-0: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
  --size-step-1: clamp(1.2rem, 1.028rem + 0.8598vi, 1.6406rem);
  --size-step-2: clamp(1.44rem, 1.2016rem + 1.1918vi, 2.0508rem);


  /* Fluid space scale */
  --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4268rem + 0.3659vi, 0.6875rem);
  --space-xs: clamp(0.75rem, 0.6524rem + 0.4878vi, 1rem);
  --space-s: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
  --space-m: clamp(1.5rem, 1.3049rem + 0.9756vi, 2rem);
  --space-l: clamp(2rem, 1.7561rem + 1.2195vi, 2.625rem);
  --space-xl: clamp(3rem, 2.6341rem + 1.8293vi, 3.9375rem);
  --space-2xl: clamp(4rem, 3.5122rem + 2.439vi, 5.25rem);
  --space-3xl: clamp(6rem, 5.2683rem + 3.6585vi, 7.875rem);

  /* Colors */
  --color-light: oklch(95% 0.0114 293.18);
  --color-light-shade: oklch(60% 0.02 293.18);
  --color-dark: oklch(24.29% 0.0114 293.18);
  --color-mid: oklch(40% 0.02 293.18);
  --color-theme: oklch(83.28% 0.1711 81.97);
}

:root {
  /* Color */
  --color-global-bg: var(--color-dark);
  --color-global-text: var(--color-light);

  --space-gutter: clamp(16px, 3svmin, 32px)
}

body {
  font-family: var(--font-family);
  font-size: var(--text-size-base);
  line-height: var(--leading)
}