/* ---------- PRIMITIVES ---------- */

:root {
  /* Type */
  --size-step--2: clamp(0.6944rem, 0.6376rem + 0.284vi, 0.84rem);
  --size-step--1: clamp(0.8333rem, 0.7488rem + 0.4228vi, 1.05rem);
  --size-step-0: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
  --size-step-1: clamp(1.2rem, 1.028rem + 0.8598vi, 1.6406rem);
  --size-step-2: clamp(1.44rem, 1.2016rem + 1.1918vi, 2.0508rem);
  --size-step-3: clamp(1.728rem, 1.402rem + 1.6302vi, 2.5635rem);
  --size-step-4: clamp(2.0736rem, 1.6323rem + 2.2063vi, 3.2043rem);
  --size-step-5: clamp(2.4883rem, 1.8963rem + 2.9602vi, 4.0054rem);
  --size-step-6: clamp(2.986rem, 2.1974rem + 3.943vi, 5.0068rem);
  --size-step-7: clamp(3.5832rem, 2.5392rem + 5.2201vi, 6.2585rem);

  /* Space */
  --space-3xs: clamp(0.25rem, 0.2256rem + 0.122vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4268rem + 0.3659vi, 0.6875rem);
  --space-xs: clamp(0.75rem, 0.6524rem + 0.4878vi, 1rem);
  --space-s: clamp(1rem, 0.878rem + 0.6098vi, 1.3125rem);
  --space-m: clamp(1.5rem, 1.3049rem + 0.9756vi, 2rem);
  --space-l: clamp(2rem, 1.7561rem + 1.2195vi, 2.625rem);
  --space-xl: clamp(3rem, 2.6341rem + 1.8293vi, 3.9375rem);
  --space-2xl: clamp(4rem, 3.5122rem + 2.439vi, 5.25rem);
  --space-3xl: clamp(6rem, 5.2683rem + 3.6585vi, 7.875rem);

  /* Color */
}

/* caret-color: var(--color-theme); */ /*TODO: Find somewhere to put this rule. */

/* ---------- TOKENS ---------- */
:root {
  /* Sizing */
  --ratio: 1.61803398875rem;
  --layout-repeat: 3;
  --layout-space: clamp(16px, 3svmin, 32px);
  --layout-measure: 60ch;
  /* https://every-layout.dev/rudiments/axioms/#a-universal-value
  https://imperavi.com/books/ui-typography/basis/line-length */

  /* Color */
  --color-dark: oklch(24.29% 0.0114 293.18);
  --color-medium: oklch(40% 0.02 293.18);
  --color-light: oklch(60% 0.02 293.18);
  --color-bright: oklch(95% 0.0114 293.18);
  --color-theme: oklch(83.28% 0.1711 81.97);

  /* Text */
  --font-size: clamp(16px, 2svmin, 24px);
  --line-height: 1.6;
  --text-color: var(--color-light);
  --link-color: var(--color-bright);

  /* Other */
  --border: 1px solid var(--color-medium);
  --border-radius: 2px;
  --transition: all 0.2s cubic-bezier(0.37, 1, 0.74, 1);
}

/* extra-juicy theme color for cool monitors */
@media (color-gamut: p3) {
  :root {
    --color-theme: oklch(83.28% 0.1911 81.97);
  }
}

/* ---------- SIZE/SPACE ---------- */
* {
  max-inline-size: var(--layout-measure);
}

html,
body,
div,
main,
header,
nav,
footer,
section,
details,
summary {
  max-inline-size: none;
}

main {
  margin-block-start: var(--layout-space);
  margin-inline: var(--layout-space);
}

main.cover {
  margin-block-start: 0;
}

img {
  /* https://every-layout.dev/layouts/frame/ - global responsive images */
  max-inline-size: 100%;
  block-size: auto;
  /* FIXME: 11ty image plugin needs this for some reason to avoid vertically stretching images */
}

/* ---------- TYPE ----------*/
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

/* h1 {
  font-size: var(--size-step-3);
}

h2 {
  font-size: var(--size-step-2);
} */

/* https://piccalil.li/links/chilled-out-text-underlines */
a {
  color: var(--link-color);
  text-underline-offset: 0.3ex;
}

a:not(:is(:hover, :focus)) {
  text-decoration-color: color-mix(in srgb, currentColor, transparent 75%);
}

/* ---------- COLOR ----------*/
html {
  background-color: var(--color-dark);
}
