---
title: Work
layout: layouts/base.njk
---
<main>
  <section class="cluster box titleRow">
    <h1>{{ title }}</h1>
    <span> {{ collections.work.length }} projects</span>
  </section>

  <section class="archive">

    {# Sort in reverse order #}
    {% for project in collections.work %}

      {% set id = loop.index %}
      <details name="projectsAccordion" class="archiveSingle">
        <!-- Accordion header -->
        <summary id="summary-{{ id }}" aria-controls="content-{{ id }}" class="cluster">
          <span>{{ project.data.workYear }}</span>
          <h2>{{ project.data.title }}</h2>
          <span>{{ project.data.company }}</span>
        </summary>
        <!-- Accordion content -->
        <div id="content-{{ id }}" role="region" aria-labelledby="summary-{{ id }}" class="reel">
          <div class="stack">
            <p>{{ project.data.description }}</p>
            <a href="{{ project.url }}">Read more</a>
          </div>
          {% if project.data.thumb %}
            <img  class="frame" src="{{ project.url }}images/{{ project.data.thumb }}" alt="Screenshot of {{ project.data.title }}">
          {% endif %}
        </div>
      </details>

    {% endfor %}
    
  </section>
</main>