---
title: Work
layout: layouts/base.njk
---

<main class="archive">
  <section class="cluster box archive-item title-row">
    <h1>{{ title }}</h1>
    <span> {{ collections.work.length }} projects</span>
  </section>

  <section class="archive-list">

    {% for project in collections.work %}

      <hr>

      <details class="archive-item" name="archive-item">
        <summary class="cluster box">
          <time datetime="{{ project.data.workYear }}">{{ project.data.workYear }}</time>
          <h2>{{ project.data.title }}</h2>
          <span>{{ project.data.role[0] }}</span>
        </summary>

        <div>
          <div class="project-info">
            <p>{{ project.data.description }}</p>
            <a href="{{ project.url }}">Read full case study</a>
          </div>

          {% if project.data.thumb %}
            <figure>
              <img src="{{ project.url }}images/{{ project.data.thumb }}" alt="Screenshot of {{ project.data.title }}">
            </figure>
            <!-- TODO: Convert thumbs from img to video: 
            <video autoplay loop muted playsinline>
              <source src="{{ project.url }}images/{{ project.data.thumb }}" type="video/webm">
            </video>
            -->
          {% endif %}
        </div>
      </details>

    {% endfor %}
    
  </section>
</main>

<!--TODO: Remove script src="/assets/js/dragscroll.js"></script-->