---
title: Writing
layout: layouts/base.njk
---

<main>
  <section class="box titleRow">
    <h1>Writing</h1>
    <span>{{ collections.writing.length }} posts</span>
  </section>

  <section class="archive">

  {% for post in collections.writing | reverse %}
    <hr>
    <a href="{{ post.url }}" class="cluster box archiveItem">
      <span>{{ ((loop.length - loop.index + 1) | string).padStart(3, '0') }}</span>
      <h2>{{ post.data.title }}</h2>
      <span>{{ post.data.categories[0] or "Uncategorized" }}</span>
    </a>
  {% endfor %}

  </section>
</main>