---
title: Writing
layout: layouts/base.njk
---

<main>
  <section class="titleRow">
    <h1>Writing</h1>
    <span>{{ collections.writing.length }} posts</span>
  </section>

  <section class="archive">

  {% for post in collections.writing | reverse %}
    
    <div class="cluster box archiveSingle">
      <span>{{ post.data.published | postDate }}</span>
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
      <span>{{ post.data.categories or "Uncategorized" }}</span>
    </div>

  {% endfor %}

  </section>
</main>