{# Generate a unique ID for the accordion using loop.index #}
{% set id = loop.index %}

<details name="accordion">
  <!-- Accordion header -->
  <summary id="summary-{{ id }}" aria-controls="content-{{ id }}" class="cluster">
    {{ accordionHeader | safe }}
  </summary>

  <!-- Accordion content -->
  <div id="content-{{ id }}" class="content with-sidebar" role="region" aria-labelledby="summary-{{ id }}">
    {{ accordionContent | safe }}
  </div>
</details>