{% set currentUrl = page.url %}

<header>
  <span id="logo" class="{% if currentUrl == '/' %}home{% else %}subpage{% endif %}">
    <a href="/">{{ site.title -}}</a>
    {%- if currentUrl != "/" -%}
      <span class="page-title">/{{- currentUrl | replace("/", "") | replace("-", " ") | title -}}</span>
    {%- endif -%}
  </span>
  <nav>
    <ul role="list">
      <li>Contact</li>
      {%- for pageEntry in collections.page -%}
        {%- if pageEntry.url != currentUrl -%}
          <li>
            <a href="{{ pageEntry.url }}">/{{ pageEntry.data.title }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
</header>