<article class="post">

  <section class="intro">
    <h1>{{ title }}</h1>
    {% if thumb %}
      <img src="/assets/images/{{ thumb }}" alt="{{ title }}" class="thumbnail">
    {% endif %}
  </section>

  <section class="content">
    {{ content | safe }}
  </section>

</article>