---
title: {{ post.title }}
---

<article>
  <section class="post-intro">
    <img src="{{ project.featuredMedia }}" alt="{{ project.title }}">
    <h1>{{ post.data.title }}</h1>
  </section>
  <section>
    {{ post }}
  </section>
</article>