---
title: {{ post.title }}
---

<article>
  <hgroup>
    <h1>{{ post.data.title }}</h1>
  </hgroup>
  <header class="projectIntro">
    <img src="{{ project.featuredMedia }}" alt="{{ project.title }}">
    <div class="introText">
      <h2>{{ project.title }}</h2>
      <p>{{ project.description }}</p>
    </div>
  </header>
  <div class="projectContent">
    {{ project.content | safe }}
  </div>
</article>