<article>
    <header class="projectIntro"> <!-- TODO: Switch to hgroup with open-props -->
        <img src="{{ project.featuredMedia }}">
        <div class="introText">
        {{ project.title }}{{ project.description }}
        </div>
    </header>
    <div class="projectContent">
        {{ project.content }}
    </div>
</article>