@layer openprops, normalize, utils, theme, components.base, components.has-deps;

/*
* Open Props
* Import as many props as you need here.
* https://unpkg.com/browse/open-props@2.0.0-beta.5/css
*/
@import "opbeta/css/media-queries.css" layer(openprops);
@import "opbeta/index.css" layer(openprops);
@import "opbeta/css/sizes/media.css" layer(openprops);
@import "opbeta/css/font/lineheight.css" layer(openprops);
@import "opbeta/css/color/hues.oklch.css" layer(openprops);

/* Normalize */
@import "./normalize.css";

/* Theme */
@import "./theme.css";

/*
* Components
* Components are divided into two categories - if they are stand-alone (base) or if they have dependencies (has-deps).
*/
/*** Base components (no dependencies)  */
@import "./actions/button.css";
@import "./actions/icon-button.css";
@import "./actions/toggle-button-group.css";
@import "./data-display/avatar.css";
@import "./data-display/badge.css";
@import "./data-display/card.css";
@import "./data-display/chip.css";
@import "./data-display/definition-list.css";
@import "./data-display/divider.css";
@import "./data-display/link.css";
@import "./data-display/table.css";
@import "./feedback/progress.css";
@import "./feedback/spinner.css";
@import "./inputs/checkbox-radio.css";
@import "./inputs/switch.css";
@import "./inputs/range.css";
@import "./text/typography.css";

/*** Has dependencies */
@import "./actions/button-group.css";
@import "./data-display/accordion.css";
@import "./data-display/list.css";
@import "./feedback/alert.css";
@import "./feedback/dialog.css";
@import "./feedback/snackbar.css";
@import "./inputs/field-group.css";
@import "./inputs/field.css";
@import "./inputs/select.css";
@import "./inputs/text-field.css";
@import "./inputs/textarea.css";
@import "./text/rich-text.css";


/* Fonts Import */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-optical-sizing: auto;
  src: url('/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-optical-sizing: auto;
  src: url('/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}


/* Variable Declarations */
:root {
  --font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  --font-size: clamp(16px, 2svmin, 24px);
  --text-color: rgb(187, 187, 187);
  --line-height: 1.6;
  --background-color: rgb(34, 34, 34);
  --image-height: 50svh;
  --padding: clamp(16px, 3svmin, 32px);
  --wash1: rgba(0, 0, 0, 0.1);
  --wash2: rgba(0, 0, 0, 0.05);
  --border: 1px solid rgba(255, 255, 255, .5);

}

/* TODO: Light mode
@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
*/



html {
  background-color: var(--background-color);
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
}

a {
  color: #fff;
  text-decoration-color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}


/* ---------- ACCORDION ---------- */
/* Container */
details {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

/* Heading */
summary {
  display: flex;
  color: var(--text-color);
  /* FIXME: Use accent color variable */
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}

summary:active>* {
  opacity: 0.5;
  /* TODO: Animate this transition */
}

summary h2,
summary span {
  font-size: var(--font-size);
}

/* Content */
details .content {
  padding: var(--padding);
}

/* ---------- BIO ACCORDION ---------- */
#content-bio ul {
  padding: 0;
}

#content-bio li {
  display: inline-block;
  list-style: none;
}

/* ---------- PROJECT ACCORDION ---------- */
.projects details:last-child {
  border-bottom: none;
}

.projects .content {
  display: flex;
  overflow-x: scroll;
  /* TODO: Allow grab-to-scroll */
  position: relative;
}

.projects .innerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 36px;
  cursor: grab;
  overflow-anchor: none;
}

.projects .projectSummary {
  height: 100%;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects .projectSummary a {
  color: gold;
  /* FIXME: Use accent color variable */
}

.projects div.content img {
  height: var(--image-height);
  min-width: 480px;
}