:root {
  --font-family: 'Inter Variable', 'Helvetica', 'Arial', sans-serif;
  --font-size: clamp(16px, 2svmin, 24px);
  --text-color: rgb(187, 187, 187);
  --line-height: 1.5;
  --background-color: rgb(34, 34, 34);
  --image-height: 50svh;
  --padding: clamp(16px, 3svmin, 32px);
  --wash1: rgba(0, 0, 0, 0.1);
  --wash2: rgba(0, 0, 0, 0.05);
  --border: solid 1px rgba(255, 255, 255, .5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

a {
  color: #fff;
  text-decoration-color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}



/*--------PROJECT-------*/

.accordion-container {
  width: 100%;
}

.accordion-item {
  border-bottom: var(--border);
}

.accordion-content {
  display: none;
}

.accordion-content.open {
  display: block;
}

.accordion-header {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  width: 100%;
}