<footer class="cluster box">
  <span>🄯{% currentYear %}. <a href="https://anticapitalist.software/" target="_blank" rel="noopener noreferrer">Rights Reserved</a>.</span>
  <span>🦶🦶🦶</span>
  <div class="cluster">
  {% for key, link in site.socialLinks %}
    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.label }}</a>
  {% endfor %}
  </div>
</footer>