<footer class="cluster box">
    <p>℗ copyleft {% currentYear %}</p>
    <p>🦶🦶🦶</p>
    <div class="cluster">
    {% for key, link in site.socialLinks %}
        <a href="{{ link.url }}">{{ link.label }}</a>
    {% endfor %}
    </div>
</footer>