{% set currentUrl = page.url %}
{% set isHomePage = currentUrl == "/" %}
{% set section = currentUrl.split("/")[1] | default("") %}

<header class="cluster box">
  <span id="logo" class="{% if isHomePage %}home{% else %}subpage{% endif %}">
    <a href="/">{{ site.title }}</a>
    {%- if not isHomePage -%}
      {%- set breadcrumbKey = "/" + section -%}
      <span class="page-title">{{ breadcrumbKey }}</span>
    {%- endif -%}
  </span>
  <nav>
    <ul role="list" class="cluster">
      {%- for item in site.navigation -%}
        {% set isCurrentPage = entry.url == currentUrl %}
        <li>
          <a
            href="{{ item.url }}"
            class="{% if isCurrentPage %}current{% endif %}"
          >
            {{ item.label }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>